USE [fanfan]
GO

alter proc [inv].[sales_cash_proc_3] 
--the following commentary relates to previous proc "inv.sales_cash_proc_2"

-- the original procedure is "inv.sales_cash_proc". this procedure is invented to account for the transactionss
-- that are not recorded due to a 1C failure, so it has 4 last additional parameters
	@datetime datetime,
	@customerid int, 
	@user varchar(25), 
	@division varchar (25), 
	@customer_discount decimal(4, 3), 
	@info inv.sales_cash_type readonly,
	@emp_id int, 
	@pmtForms as varchar(max), 
-- hardcoding char(4) as promocode is 4 digits string for now
	@promocode CHAR(4)

as 
set nocount on;
-- if the sale is today : record time as datetime value
if cast(@datetime as date)=CAST(getdate() as date) 
	set @datetime = getdate();

--declare @startDate date=dateadd(mm, -1, @datetime)
declare @startDate date='20240101'


declare @note varchar (max);
declare @clientid int, @transactionid int;
declare @divisionID int =(select divisionid from org.divisions where divisionfullname= @division) 
select @clientID = org.client_id( @divisionID )
declare @transactiontypeid int = (select inv.transactiontype_id('SALE'));
declare @userid int = (select personid from org.persons where lfmname=@user)
declare @receipttypeid int 
DECLARE @sms_id INT;
declare @data table (myData varchar(max));
declare @rec_types table (pmtType varchar(15), amount money, contractor varchar (25))

declare @shopRegisterid int  = (
	select  v.registerid from acc.registerid_divisionid_v v 
		join org.divisions d on d.divisionID=v.divisionID
	where d.divisionfullname= @division)
insert @data select value from string_split (@pmtForms, ',');
UPDATE @data set myData = trim(myData);


declare @cross_table table (
	pmtType varchar(15), receipttypeID int
)
insert @cross_table (pmtType, receipttypeID) values
('по карте', 5), 
('по QR-коду', 7), 
('по телефону', 8), 
('наличными', 1)


insert @rec_types
select 
	SUBSTRING(myData, 1, charindex(':', myData)-1) pmtType, 
	SUBSTRING(myData, charindex(':', myData)+1, charindex(':', myData, (charindex(':', myData, 1))+1)-charindex(':', myData)-1) amount,
	substring(myData, charindex(':', myData, (charindex(':', myData, 1))+1)+1,15) contractor
from @data


if @emp_id>0  
	begin
		select @transactiontypeid = inv.transactiontype_id('SALE INTERNAL');
		select @receipttypeid = inv.receipttype_id('company credit');
	end 


	BEGIN TRY
		BEGIN TRANSACTION

		-- if smsid is null no record in sms.sales_promocodes
			SELECT TOP 1 @sms_id= i.smsid
			FROM sms.instances i
				JOIN sms.instances_customers ic ON ic.smsid=i.smsid
			WHERE ic.customerid= @customerid 
				AND	ic.promocode=@promocode
				AND i.expirationDate>=dbo.justdate(GETDATE())
			ORDER BY i.smsid DESC;

	-- and now a big block of code to parse the payment information

		insert inv.transactions ( transactiondate, transactiontypeID, userID )
			select @datetime, @transactiontypeid,  @userID;
		select @transactionid=SCOPE_IDENTITY();
--		select * from inv.transactions t where t.transactionID	= @transactionid;

		with _sign (logstateid, opersign) as 
		(
			select inv.logstate_id('IN-WAREHOUSE'), -1 
			union all 
			select inv.logstate_id('SOLD'), 1
		)
		insert inv.inventory
		select r.clientID, s.logstateID, 
			r.divisionID, 
			@transactionid transactionid, s.opersign, r.barcodeid
		from inv.v_remains r
			join @info i on i.barcodeid=r.barcodeid
			cross apply _sign s;
--		select * from inv.inventory i where i.transactionID =@transactionid


		insert inv.sales( saleID, divisionID, customerID, salepersonID )
			select @transactionID, @divisionID, @customerID, @userid;
		IF @sms_id IS NOT NULL 
		BEGIN
			INSERT sms.sales_promocodes (saleid, smsid)
				VALUES(@transactionID, @sms_id);
		END

		insert inv.sales_goods( saleID, barcodeID, amount, price, client_discount, barcode_discount )
			select @transactionID, i.barcodeID, i.paid, i.price, @customer_discount, i.discount	
			from @info i;
--		select * from inv.sales_goods sg where sg.saleID =@transactionid;

		if (select  count (*)  from @rec_types r where r.pmtType<>'наличными') > 
				(select  count (*)  from @rec_types r where contractor <>'' and r.pmtType<>'наличными')
		throw 500001, 'операция не может быть записана. Не все регистры указаны' , 1
		

		insert inv.sales_receipts (saleID, receipttypeID, amount, registerid)
		select 
			@transactionid, rt.receipttypeID, r.amount, 
			case when r.pmtType in ('наличными', 'по телефону') then @shopRegisterid
			else rg.registerid end
		from @rec_types r
			join @cross_table c on c.pmtType=r.pmtType
			left join fin.receipttypes rt on rt.receipttypeID=c.receipttypeID
			left join org.contractors cn on cn.contractor = r.contractor
			left join acc.registers rg on rg.bankid = cn.contractorID and rg.clientid=@clientid;
		declare @rows int
		select @rows= @@ROWCOUNT;
--		select @rows rows;


		-- При наличии формы оплаты "перевод по телефону" записываем ее как продажу наличными, но сразу выдаем в подотчет
		-- След if  нужен только для того, чтобы выдать под отчет. Все осатльное через acc.consignment_record
		if (select amount from @rec_types where pmtType= 'по телефону') > 0 
			begin
				declare @bank varchar(25) = (select contractor from @rec_types where pmtType= 'по телефону');
				insert acc.transactions(transdate, recorded, bookkeeperid, currencyid, articleid, clientid, amount, comment, document)
				select 
					cast (getdate() as date) transdate, 
					CURRENT_TIMESTAMP recorded, 
					1 bookkeeperid, 
					643 currencyid, 12 articleid, 619 clientid, 
					r.amount,
					@division + ' в ' + @bank + ' ' + r.pmtType comment, 'cash' document
				from @rec_types r where r.pmtType = 'по телефону';
				declare @transid int = scope_identity ();

				with _seed (is_credit, accountid, personid, registerid) as (
					select 'True', acc.account_id('деньги'), null, @Shopregisterid
					union all
					select 'False', acc.account_id('подотчет'), org.person_id('Федоров А. Н.'), null
				)
				insert acc.entries (transactionid, is_credit, accountid, contractorid, personid, registerid)
				select @transid transactionid, cast (is_credit as bit) is_credit, accountid, null contractorid, personid, registerid 
				from _seed;
			end 
			
			declare @n int;
			--select * from acc.salesConsignment_ (@startDate);
			exec @n = acc.consignment_record  @startdate;
--			select @n consignmentRep
					
		select @note = 'number of rows inserted into inv.sales_receipts: ' + format(@rows, '#,##0', 'ru');
--		select top 1 *  from acc.transactions t order by 1 desc;
--;		throw 50001, @note, 1;
		
		COMMIT TRANSACTION
		return @transactionid
	END TRY
	BEGIN CATCH

		select @note = ERROR_MESSAGE() ;
		select @note debug;
		ROLLBACK TRANSACTION
	END CATCH
go

set nocount on; declare @info inv.sales_cash_type; insert @info values (666706, 110000, 0.3, 77000, 77000), (666709, 99000, 0, 99000, 99000); 
declare @customerid int = 1, @user varchar (25) = 'ФЕДОРОВ А. Н.', @division varchar (25) = '05 УИКЕНД', @customer_discount decimal (4, 3) = 0, @datetime datetime = '20240226', @r int; 
--exec @r = inv.sales_cash_proc_3 @datetime,  @customerid, @user, @division, @customer_discount, @info, 0, 'по телефону:176000:ТИНЬКОФФ', NULL; select @r;