USE [fanfan]
GO
/****** Object:  UserDefinedFunction [rep].[labels_print]    Script Date: 22.08.2022 19:43:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER function [rep].[labels_print]( @barcodes barcodes_list readonly )
returns table as return
(
	select	g.barcodeID, 
			cmn.barcode_gen_ean13( g.barcodeID ) as barcode, 
			convert( varchar, getdate(), 104 ) as header,
			g.brand, 
			g.category + ' - ' + g.article 
						+ iif( left( s.season, 1 ) = 'F', 'w', 's' )
						+ right( cast( s.seasonyear as varchar ), 2 ) as article, 
			g.color + ' - ' + g.size as colorsize,
			g.composition,
			FORMAT( ISNULL(st.cost_adj, 1) * st.cost * r.markup * r.rate * (1-g.discount ), '0,0' ) as price, 
			iif( g.discount = 0, '', format( g.discount * 100, '0' ) ) as discount,
			iif( g.discount = 0, '', format(ISNULL(st.cost_adj, 1) * st.cost * r.markup * r.rate, '0,0' ) ) as baseprice,
			g.originRUS as origin
	from @barcodes bc
		join inv.v_goods g on g.barcodeID = bc.barcodeID 
								and g.originRUS is not null
								and g.composition is not NULL
		JOIN inv.v_remains vr ON vr.barcodeID=bc.barcodeID					
		join inv.seasons s on s.season = g.season
		JOIN inv.styles st ON st.styleID= g.styleID
		JOIN inv.orders o ON o.orderID=st.orderID
		JOIN inv.current_rate_v r ON r.divisionid= vr.divisionID
							AND r.currencyid= o.currencyID

		
)
GO 

DECLARE @barcodeids barcodes_list
DECLARE @division VARCHAR(25) = '07 ФАНФАН'
--INSERT @barcodeids values (659101), (658996), (659066), (659060)
INSERT @barcodeids values (655232)

SELECT * FROM rep.labels_print(@barcodeids) lp




--SELECT * FROM inv.v_goods vg