USE [fanfan]
GO
/****** Object:  UserDefinedFunction [inv].[barcodeid_info_f]    Script Date: 08.10.2025 17:29:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE OR ALTER function [inv].[barcodeid_info_f] (@barcodeid int) returns table as return
	select 
		v.barcodeID
		, b.brand											as бренд
		, con.contractor									as showroom
		, se.season											as сезон
		, it.inventorytyperus								as категория
		, sz.size											as размер
		, col.color											as цвет
		, s.styleID
		, s.article											as артикул
		, cr.currencycode									as валюта
		, v.cost											as закуп_цена
		, p.price											as цена
		, p.discount										as скидка 
		, cast (p.lastdate as date)							as дата_цены 
		, d.divisionfullname								as склад
		, l.logstate										
		, case oc.orderclass
			when 'regular'		then 'собственный'
			when 'consignment'	then 'консигнация'
			end												as источник
		, case v.gender											
				when 'f' then 'жен'
				else 'муж'
		  end 												as gender
	
	from inv.barcode_info_v v 
		join inv.brands b									on b.brandID=v.brandID
		join inv.v_remains r								on r.barcodeID=v.barcodeID
		join inv.logstates l								on l.logstateID=r.logstateID
		join org.divisions d								on d.divisionID=r.divisionID
		join inv.sizes sz									on sz.sizeID=v.sizeID
		join inv.seasons se									on se.seasonID=v.seasonID
		join inv.styles s									on s.styleID=v.styleID
		join inv.inventorytypes it							on it.inventorytypeID=v.inventorytypeID
		join inv.colors col									on col.colorID=v.colorID
		join cmn.currencies cr								on cr.currencyID = v.currencyID
		join inv.orderclasses oc							on oc.orderclassID = v.orderclassID
		join org.contractors con							on con.contractorID = v.showroomID
		cross apply inv.prices_barcodeid_f(@barcodeid) p
	where v.barcodeID=@barcodeid

go

DECLARE @startDate DATE = '20251008';
select * 
from inv.barcode_info_v v 
	join inv.GetAvailableBarcodesAfterDate(@startDate) gi on gi.barcodeid=v.barcodeid

select * from inv.barcodeid_info_f(667940)
	